body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #8eb041;
}

.login{
  overflow: hidden;
}

.btn-primary {
  background-color: #84469b;
  border: none;
  border-radius: 9px;
  height: 48px;
  font-size: 24px;
}

.btn:hover {
  background-color: darkslateblue;
}

.cadastrar {
  color: #84469b;
  font-weight: 700;
  padding-bottom: 10px;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-label {
  color: #fff;
}
.container-fluid {
  padding: 0;
}

.fundo_login{
  margin: 0 auto;
}

@media (max-width: 766px) {
  .container-fluid {
    padding-top: 130px;
    width: 350px;
  }
}
