/* Estilo de alto contraste */
body.high-contrast .main-content {
  background-color: #8e9be8;
}
body.high-contrast .card {
  background-color: black;
}

body.high-contrast .text_green_2 {
  color: rgba(0, 0, 0, 0.959);
}

body.high-contrast .btn-green {
  background-color: #8e9be8 !important;
  color: black !important;
}

body.high-contrast .card-title,
.card-text {
  color: #ce91ce !important;
}

body.high-contrast .sidebar {
  background-color: black;
}
body.high-contrast .link_bg_adm {
  background-color: #8e9be8 !important;
  color: black !important;
}
body.high-contrast .link_bg_adm:hover {
  background-color: #4e4e4e !important;
}

body.high-contrast .btn-green:hover {
  background-color: #4e4e4e !important;
}

body.high-contrast .btn-purple-editar {
  background-color: #8e9be8;
  color: black;
}

body.high-contrast .container-green {
  background-color: black !important;
}

.text_purple {
  color: #84469B !important;
  font-weight: bold;
}

.btn-green {
  background-color: #8EB041 !important;
  color: black !important;
  border: none;
}

.text_green {
  color: #8EB041;
  font-weight: bold;
}

.img-fluid {
  max-width: 70%;
  max-height: 70%;
}

.sidebar {
  background-color: #cbb4d3;
  padding-top: 50px;
  height: auto;
}

.main-content {
  background-color: #84469b;
  min-height: 100vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #f8f9fa;
}

.menu_text {
  font-weight: bold;
}

.link_bg_adm {
  background-color: white;
  border-radius: 9px;
  margin-bottom: 5px;
  color: black;
}

.link_bg_adm:hover {
  background-color: #8eb041;
  color: white;
}

.btn-purple {
  background-color: #84469b;
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: #cbb4d3;
  color: black;
}

.text_light_green {
  color: #aef01d;
}

.icone_position {
  position: relative;
  top: -3px;
}

.btn_width {
  width: 150px;
}

.trash_icon_position {
  position: relative;
  top: -38px;
}

.edit_icon_position {
  position: relative;
  top: -15px;
}

.container-green {
  width: 300px;
  height: auto;
  display: none;
  background-color: #8eb041;
  border-radius: 9px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  text-align: left;
}

.input-small {
  width: 200px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.btn-purple-editar {
  background-color: #84469b;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.btn-purple-editar:hover {
  background-color: #cbb4d3;
  color: black;
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@media (max-width: 1700px) {
  .col-md-4 {
    width: 50%;
    max-width: 50%;
  }
}
