p {
  color: black;
}

.pagina{
  padding-top: 30px;
  margin-top: 100px;

}

.card-body{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.554);
  border-radius: 9px;
}
.btn_card{
  width: 100%;
}

footer {
  background-color: #cfcece;
  padding: 40px 0; 
}

.text_a_link{
  text-decoration: none !important;
  color: black;
  font-weight: 450;
}

.text_a_link:hover{
  text-decoration: underline !important;
  color: #84469B;
}


.text_neon_green{
  color: #aef01d;
  font-weight: bold;
}

.text_neon_green:hover{
  color: white;
}

.text_purple {
  color: black !important;
  font-weight: bold;
}

.text_link{
  color: black !important;
  background-color: red;
}

.text_green {
  color: #8eb041;
  font-weight: bold;
}


.text_white {
  color: white;
}

.text-principal-footer{
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}


.btn-green {
  background-color: #8eb041 !important;
  color: black !important;
  border: none;
}
.btn-green:hover {
  background-color: #637046 !important;
  color: white !important;
  border: none;
}

.title {
  text-align: center;
  margin: 20px 0px 40px 0px;
}

.img-fluid-custom {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.text_justify {
  text-align: justify;
}

.pad_top_20{
  padding-top: 20px;
}

.text-footer{
  list-style: none;
  text-align: left;
  line-height: 15px;
}

.section_2 {
  margin-top: 100px;
  background-color: #84469B;
  padding: 20px 0; 
  height: auto; 
}

.section_3 {
  margin-top: 100px;
  background-color: #ffffff; 
  padding: 20px 0; /
}

.card_transparent{
  background-color: transparent;
  border: none;
}

.input-small{
  width: 200px;
}
.pad_bottom_5{
  padding-bottom: 5px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.btn-solicitar {
  background-color: #84469B;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.btn-solicitar:hover{
  background-color: #cbb4d3;
  color: black;
}

.container-green {
  display: none;
  background-color: #8eb041;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  padding: 20px;
  border-radius: 10px;
  width: 400px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.modal-background {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}
.fechar-modal {
  position: absolute;
  left: 100%;
  top: -10%;
  padding: 10px;
  cursor: pointer;
} 

.card-title, .card-text{
  color: black;
}

@media (max-width: 600px){
  footer{
    display: none;
  }
  .pagina{
    margin-top: 130px;
  }
}

@media (max-width: 991px){
  .pagina{
    margin-top: 150px;
  }
}
@media (max-width: 979px){
  .pagina{
    margin-top: 150px;
  }
}

@media (max-width: 997px){
  .text-footer{
    font-size: 12px;
  }
}
