/* Estilo de alto contraste */
body.high-contrast footer{
  background-color: yellow !important;
  color: white;
}
body.high-contrast footer p {
  color: black !important;
}

body.high-contrast .text_green {
  color: black !important;
}

body.high-contrast .section_2{
  background-color: #8E9BE8;
}

body.high-contrast .text_white {
  color: black !important;
}

body.high-contrast .card-title,
.card-text{
  color: #8E9BE8;
}

body.high-contrast .card-body{
  background-color: black;
  border-color: black;
  border-radius: 0 0 9px 9px;
}

body.high-contrast .card.mx-auto {
  border-radius: 9px;
  border-color: black;
}

body.high-contrast .btn-interesse {
  background-color: #8E9BE8 !important;
  color: black !important;
}

body.high-contrast .btn-green:hover {
  background-color: cyan !important;
  color: black !important;
}

body.high-contrast .text_neon_green{
  color: black;
}

body.high-contrast .text_neon_green:hover{
  color: #050F35 !important;
}

body.high-contrast .text_purple{
  color: #8E9BE8 !important;
}
body.high-contrast .btn-purple-editar{
  background-color: #8E9BE8;
  color: black;
}

body.high-contrast .container-green {
  background-color: black !important;
}
/* ----------------------------------- */

.pagina{
  padding-top: 30px;
}
.img_logo1{
  padding-left: -10px !important;
}
.card-body{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.554);
  border-radius: 9px;
}
.btn_card{
  width: 100%;
}

footer {
  background-color: #f8f9fa; 
  padding: 40px 0; 
}

.text_a_link{
  text-decoration: none !important;
}

.text_a_link:hover{
  text-decoration: underline !important;
}
.opcoes a{
  text-decoration: none;
  margin-top: 20px;
}

.text_neon_green{
  color: #aef01d;
  font-weight: bold;
}

.text_neon_green:hover{
  color: white;
}
.pad_top_20{
  padding-top: 20px;
}

.section_2 {
  margin-top: 100px;
  background-color: #84469B;
  padding: 20px 0; 
  height: auto; 
}

.section_3 {
  margin-top: 100px;
  background-color: #ffffff; 
  padding: 20px 0; /
}

.img_logo1{
  padding-left: -10px !important;
}
.card-body{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.554);
  border-radius: 9px;
}
.btn_card{
    width: 100%;
}
.card_transparent{
  background-color: transparent;
  border: none;
}