ul { /*nao tem na index*/
  list-style: none;
  padding: 0;
  margin: 0;
}

li { /*nao tem na index*/
  list-style: none;
}

p {
  color: black;
}

/*css para textos e cores*/
.text_purple {
  color: #84469b !important;
  font-weight: bold;
}

.text_green {
  color: #8eb041;
  font-weight: bold;
}
.text_neon_green {
  color: #aef01d;
  font-weight: bold;
}

.text_neon_green:hover {
  color: white;
}

.text_white {
  color: white;
}

.text_magenta {
  color: #b411ef;
  font-weight: bold;
}

.text_magenta:hover {
  color: #8eb041;
}

/*css para formatação de botoes*/
.btn-green {
  background-color: #8eb041 !important;
  color: black !important;
  border: none;
}
.btn-green:hover {
  background-color: #637046 !important;
  color: white !important;
  border: none;
}

.btn-purple {
  background-color: #84469b;
  color: white;
  border: none;
}

.btn-purple:hover {
  background-color: #cbb4d3;
  color: black;
}

/*titulos e imagens*/
.title {
  text-align: center;
  margin: 20px 0;
}
.img-fluid-custom {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.img-fluid-card {
  width: 100%;
  height: 100px;
}
.text_justify {
  text-align: justify;
}

.text_left {
  text-align: left;
}

/*footer*/
footer {
  background-color: #cfcece;
  padding: 40px 0;
}
