
.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: bold;
  color: #8eb041;
}

.navbar-brand img {
  max-height: 50px;
  margin-right: 8px;
}
.navbar-brand:hover{
  color: #637046;
}
.link-quero-doar {
  color: #84469b;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 60px;
}

.link-quero-doar:hover {
  text-decoration: underline;
  color: #a318d6;
}

.search-wrapper {
  position: relative;
  max-width: 500px;
  width: 100%;
}

.form-control-custom {
  border-radius: 9px;
  border: 1px solid #8eb041;
  background-color: #f9f9f9;
  padding-left: 35px;
  height: 46px;
  font-size: 1rem;
}

.form-control-custom:focus {
  border-color: #8eb041;
  box-shadow: 0 0 0 0.2rem rgba(99, 112, 70, 1);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}
.search-icon i {
    color: #8eb041; /* Troque #007bff pela cor desejada */
}
.btn-login {
  color: #84469b;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 60px;
}

.btn-login:hover {
  text-decoration: underline;
  color: #a318d6;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar-end {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-end img{
  max-height: 50px;
  margin-right: 8px;
}
.foto-perfil{
  max-height: 50px;
  margin-right: 8px;
}
.pesquisar2 {
  display: none;
}


.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 2000;
  padding: 20px;
}

.side-menu.open {
  left: 0;
}
.foto-perfil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-menu {
    min-width: 150px;
    text-align: center;
}
.side-menu a {
  display: block;
  color: #84469b;
  margin-bottom: 20px;
  font-size: 1rem;
  text-decoration: none;
}

.side-menu a:hover {
  text-decoration: underline;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  display: none;
}
.ola{
  color: #84469b;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 60px;
}
.menu-overlay.active {
  display: block;
}

.nao-sei {
  display: none !important;
}

@media (max-width: 592px) {
  .navbar-center,
  .navbar-end {
    display: none;
  }

  .logo-balde {
    display: none;
  }

  .nao-sei {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar-toggler {
    margin-left: auto;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .pesquisar2 {
    margin-top: 10px;
    display: block;
  }
}

@media (min-width: 593px) and (max-width: 768px) {
  .pesquisar1 {
    display: none;
  }

  .search-wrapper {
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-width: 90%;
  }

  .pesquisar2 {
    display: block;
  }

  .form-control-custom {
    max-width: 100%;
  }

  .link-quero-doar,
  .btn-login {
    margin: 0;
  }

  .btn-login {
    margin-left: 0;
  }

  .navbar-custom {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .pesquisar1 {
    display: none;
  }

  .pesquisar2 {
    display: block;
  }

  .link-quero-doar {
    margin-right: 30px;
  }

  .btn-login {
    margin-left: 0px;
    margin-right: 30px;
  }

  .search-wrapper {
    padding-top: 10px;
    max-width: 650px;
    margin-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1202px) {
  .search-wrapper {
    position: relative;
    max-width: 300px;
    width: 100%;
  }

  .link-quero-doar {
    margin-right: 10px;
  }

  .btn-login {
    margin-left: 10px;
  }
}

@media (min-width: 1203px) and (max-width: 1399px) {
  .link-quero-doar {
    margin-right: 0px;
  }

  .btn-login {
    margin-left: 0px;
  }
}
