* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}
.title {
  color: #84469b;
}
.btn-aplicar {
  margin-top: 20px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 6px 12px;
  transition: all 0.2s ease-in-out;
  background-color: white;
  font-size: 14px;
}
.filter-box {
  margin-top: 80px;
  max-width: 10%;
}
.btn-aplicar:hover {
  background-color: #f5f5f5;
  color: black;
}

.options{
  max-width: 70%;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
}

.btn-interesse {
  background-color: #8eb041;
  color: white;
  font-weight: 500;
  border: none;
  padding: 6px 12px;
  transition: background-color 0.5s;
}

.btn-interesse:hover {
  background-color: #ffff;
  color: #8eb041;
  border: 1px solid #8eb041;
}


.pagination .page-link {
  color: #84469b;
}

.pagination .active .page-link {
  background-color: #84469b;
  color: white;
  border-color: #84469b;
}

/* Footer------------------------------------------------ */
footer {
  background-color: #ffff;
  padding: 40px 0;
}

.text_justify {
  text-align: justify;
}

.text_purple {
  color: #84469b;
  font-weight: bold;
}

.text_a_link {
  text-decoration: none;
}

/* mobile ---------------------------------------------- */
.form-label {
  width: 100%;
}
.filter {
  width: 30%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: none;
  align-items: center;
  padding: .375rem 1rem .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  width: 174px; 
}
.form-select {
  margin: 5px;
  width: 100%;
}
.ordenar-mobile {
  display: none;
}
.select-mobile {
  display: none;
}
.btn-filtrar {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: none;
  align-items: center;
  padding: .375rem 1rem .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  width: 174px; 
}

.arrow {
  font-size: 14px;
  color: #343A40;
  margin-left: auto;
}
@media screen and (max-width: 1157px) {
  .filter-box {
    max-width: 20%;
  }
}

@media screen and (max-width: 940px) {
  .selects {
    flex-direction: row;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  .form-label, .filter-box, .result, .ordenar {
    display: none;
  }

  .ordenar-mobile {
    display: block;
  }
 
  .filter {
    display: flex;
  }
  .options{
    max-width: 90%;
  }

}
@media screen and (max-width: 563px) {
  .selects, .ordenar-mobile,.filter {
    display: none;
  }
  .selects {
    width: 10px;
  }
  .select-mobile {
    display: flex;
    width: 60%;
  }
  .options{
    width: 100%;
  }
  .btn-filtrar {
    display: flex;
  }
}