/* Estilo de alto contraste */
body.high-contrast{
  background-color: black;
}

body.high-contrast div.content-wrapper {
  background-color: black;
}

body.high-contrast .product-card{
  background-color: #8E9BE8;
  color: black;
}

body.high-contrast .btn_card{
  background-color: black !important;
  color: #8E9BE8 !important;
}

body.high-contrast a.page-link{
  color: black;
} 

body.high-contrast .justify-content-between,
.fw-bold,
.form-check-label, h5 {
  color: #8E9BE8;
}

body.high-contrast h2.text-center{
  color: #8E9BE8 !important;
}

body.high-contrast #modalContainer{
  background-color: black !important;
}
body.high-contrast .text_purple{
  color: #8E9BE8 !important;
}
body.high-contrast .btn-btn-solicitar{
  background-color: #8E9BE8;
  color: black;
}

body.high-contrast .justify-content-between,
body.high-contrast .fw-bold,
body.high-contrast .form-check-label {
  color: #8E9BE8 !important;
}

body.high-contrast .active>.page-link, .page-link.active {
  color: white !important;
  background-color: black !important;
  border-color: white !important;
}
/* ------------------------------------- */

body{
  background-color: #8eb041;
}

footer {
  background-color: #f8f9fa;
  padding: 40px 0; 
}

.text_justify {
  text-align: justify;
}

.text_purple {
  color: #84469b !important;
  font-weight: bold;
}

.text_a_link {
  text-decoration: none !important;
} 

.btn-interest {
  background-color: #84469b;
  color: black;
  border: none;
  width: 100%;
}

.btn-interest:hover{
  background-color: #637046;
  color: white;
}

.btn-salvar{
  background-color: #84469b;
  border: none;
  width: 100%;
}

.content-wrapper {
  background-color: #8eb041;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}
.product-card img {
  max-width: 100%;
  border-radius: 5px;
}

.pagination .page-link {
  color: #84469b;
}

.active>.page-link, .page-link.active {
  z-index: 3;
  color: #ffffff; /* Cor do texto */
  background-color: #84469b;
  border-color: #84469b;
  color: white !important;
  background-color: black !important;
  border-color: white !important;
}

.input-small {
  width: 200px;
}

.justify-content-between,
.fw-bold,
.form-check-label, h5 {
  color: black;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.container-green {
  display: none;
  background-color: #8eb041;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1001;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.btn-solicitar {
  background-color: #84469b;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.btn-solicitar:hover {
  background-color: #cbb4d3;
  color: black;
}

.fechar-modal {
  position: absolute;
  left: 100%;
  top: -10%;
  padding: 10px;
  cursor: pointer;
}
