/* sidebar -----------------------------*/
.sidebar {
  background-color: #84469b;
  padding-top: 50px;
  height: auto;
}
.menu_text {
  font-weight: bold;
  color: #e9ecef;
}
.pad_top_20 {
  padding-top: 20px;
}
.main-content {
  background-color: #f1f2f6;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}
.link_bg_adm {
  background-color: white;
  border-radius: 9px;
  margin-bottom: 5px;
  color: black;
}

.link_bg_adm:hover {
  background-color: #84469b;
  color: white !important;
  border: 1px solid white;
}

/* -------------------------------------- */

.cards-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  background-color: #f8f9fa;
}

.text_purple {
  color: #84469b !important;
  font-weight: bold;
}

select {
  flex: 1;
}

/* Container do conteúdo principal */
.main-content {
  padding: 20px;
  font-family: sans-serif;
}

.custom-card-header {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 1rem;
}

.select-text {
  font-weight: bold;
  font-size: 18px;
  color: #3f3f3f;
}

.btn-purple {
  background-color: #84469b;
  color: #fff;
  font-size: 0.85rem;
  padding: 0.6rem 1.2rem;
  white-space: nowrap;
  border-radius: 5px;
  transition: background-color 0.2s;
  font-weight: bold;
}

.btn-purple:hover {
  background-color: #f1f1f1;
  color: #84469b;
  border: 1px solid #84469b;
}

/* Tabela de pedidos */

.pedidos-table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

.table-header th {
  font-weight: bold;
  background-color: #f1f1f1;
  color: #9d9a9a;
  padding: 1rem;
  vertical-align: middle;
  border-bottom: none;
  font-size: 18px;
}

.pedidos-table tbody tr.pedido-row {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.pedidos-table tbody tr.pedido-row:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.pedidos-table td,
.pedidos-table th {
  padding: 1rem;
  vertical-align: middle;
  border-top: none;
  border-bottom: none;
}

.pedidos-table td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pedidos-table td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.status-cell {
  color: #495057;
  font-weight: bold;
}

.form-check-input {
  margin-right: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #d9d9d9;
}

@media (max-width: 1032px) {
  .pedidos-table thead {
    display: none;
  }
  .pedidos-table,
  .pedidos-table tbody,
  .pedidos-table tr,
  .pedidos-table td {
    display: block;
    width: 100%;
  }
  .pedidos-table tr {
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
  }
  .pedidos-table td {
    text-align: left !important;
    border: none;
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
  }
  .pedidos-table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 10px;
    min-width: 100px;
    color: #84469b;
  }
  .custom-card-header {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
  .select-text {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .d-flex.justify-content-end {
    justify-content: center !important;
  }
}
