/* Estilo de alto contraste */
body.high-contrast .row-bg-1 {
  background-color: #8E9BE8;
}
body.high-contrast .row-bg-2 {
  background-color: #8E9BE8;
}
body.high-contrast .row-bg-3 {
  background-color: #8E9BE8;
}
body.high-contrast .row-bg-4 {
  background-color: #8E9BE8;
}

body.high-contrast .a-links {
  color: #000A35 !important;
}
body.high-contrast .text_purple {
  color: #000A35 !important;
}
/* ----------------------------- */

select {
  border-radius: 5px;
  height: 40px;
  width: 260px;
}

footer {
  background-color: #cfcece;
  padding: 40px 0; 
}

.text_a_link{
  text-decoration: none !important;
}

.text_purple {
  color: #84469b !important;
  font-weight: bold;
}

.text_justify {
  text-align: justify;
}

.pagina {
  padding-top: 30px;
}

.col-info,
.col-agendamentos {
  border-radius: 9px;
  padding: 20px;
  display: block;
  height: auto;
  text-align: justify;
  margin: 5px;
}

.img-tittle {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  position: relative;
  top: -4px;
}

.font-20 {
  font-size: 20px;
}
.font-20-bold {
  font-size: 20px;
  font-weight: bold;
}

.row-bg-1,
.row-bg-2,
.row-bg-3,
.row-bg-4 {
  border-radius: 9px;
  height: auto;
  min-height: 200px;
  padding: 5px;
  margin-bottom: 20px;
}

.row-bg-1 {
  background-color: #e9d9ee;
}
.row-bg-2 {
  background-color: #e3efc5;
}
.row-bg-3 {
  background-color: #ebccb2;
}
.row-bg-4 {
  background-color: lightgray;
}

.icone-localizacao,
.icone-site {
  width: 30px;
  height: 30px;
  margin: 10px 0px 10px 0px;
}
.a-links {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #84469b;
  position: relative;
  top: 4px;
}
.a-links:hover {
  text-decoration: underline;
  cursor: pointer;
}
